[% WRAPPER wrapper.tt 
    page.title = loc('Forgot Password'),
    page.heading.content = loc('Forgot Password') %]

[% IF message %]
[% message %]
[% ELSE %]
<div id="content">
<div class="form_full section">
[% form %]
</div>
</div>
[% END %]
[% END %]
