
パスワードを再設定を行いますので、下記のURLにアクセスしてください。

    [% c.uri_for('/member/reset_password', { 'token' =>  member.activation_token, 'email' => member.email }) %]



一週間以内に上記URLより登録を完了しないと、登録されたデータを削除されますのでご注意ください。

=====
[% c.config.site.title %]

