[% WRAPPER wrapper.tt , 
    page.title = loc('Reset Password'),
    page.heading.content = loc('Reset Password') %]
[% IF message %]
[% message %]
[% ELSE %]
<div id="content">
<div class="form_full section">
[% form %]
</div>
</div>
[% END %]
[% END %]
