[% WRAPPER wrapper.tt 
    page.title = 'ユーザー設定',
    page.heading.content = 'ユーザー設定' %]

<div id="content">
[% FOREACH widget IN widgets %]
[% run_widget(widget, args) %]
[% END %]
</div><!-- content -->
[% END %]