[% WRAPPER wrapper.tt,
    page.title = 'メッセージ', 
    page.heading.enabled = 0 %]
[% INCLUDE 'message/menu.tt' %]
[% SET api = c.registry('api', 'message') %]
<div id="content">

[% form %]

<h2>[% mailbox || 'INBOX' %]</h2>
<ul class="clearfix">
[% FOR m IN messages %]
<li>[% api.is_in_message(m, c.user) ? '←' : '→' %]<a href="[% c.uri_for(m.id) %]">[% m.subject %]</a> [% api.opponent(m, c.user).nickname %], [% m.created_on.ymd %]</li>
[% END %]
</ul>
</div>
[% END %]
