[% WRAPPER wrapper.tt, 
    page.title = loc("Pixis Member Signup") _ "（デベロッパ情報）",
    page.heading.content = loc("Pixis Member Signup") _ "（デベロッパ情報）" %]

<div id="content">
<div class="form_full section">
[% form %]
</div><!-- section -->
</div><!-- content -->
[% END # WRAPPER %]
