[% SET title = error.has_status_message ? error.status_message : "エラー " _ error.status %]
[% WRAPPER wrapper.tt,
    page.title => title,
    page.heading.content => title,
%]

<div id="content">
<p>[% IF (error.safe_message) %][% loc(error.message) || error.message %][% ELSE %][% loc(error.public_message) %][% END %]</p>
</div>

[% END %]