[% WRAPPER wrapper.tt,
    page.title => "エラー " _ error.status,
    page.heading.content => "エラー " _ error.status
%]

<div id="content">
<p>[% IF (error.safe_message) %][% loc(error.message) %][% ELSE %][% loc(error.public_message) %][% END %]</p>
</div>

[% END %]