<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
[% run_widget('Head', { page => page }) %]
</head>
<body>
[% run_widget('Top') %]
<div id="container" class="clearfix">
<div id="main">
[%- IF (page.heading.enabled) -%]
<div id="title">
<[% page.heading.tag %]
    [%- IF page.heading.id %] id="[% page.heading.id %]"[% END %]>
[%- IF page.heading.content %][% page.heading.content %][% ELSE %][% page.title %][% END -%]
</[% page.heading.tag %]>
</div><!-- title -->
[%- END -%]
[% content %]
</div><!-- main -->
[% run_widget('LeftNavigation') %]
</div><!--  container -->
[% run_widget('Footer') %]
</body>
</html>
