[% run_widget('Header') %]
<div id="container" class="clearfix">
<div id="main">
[%- IF (page.heading.enabled) -%]
<div id="title">
<[% page.heading.tag %]
    [%- IF page.heading.id %] id="[% page.heading.id %]"[% END %]>
[%- IF page.heading.content %][% page.heading.content %][% ELSE %][% title %][% END -%]
</[% page.heading.tag %]>
</div><!-- title -->
[%- END -%]
[% content %]
</div><!-- main -->
[% run_widget('LeftNavigation') %]
</div><!--  container -->
[% run_widget('Footer') %]
