[% WRAPPER wrapper.tt 
    page.title = 'プロフィールの削除', 
    page.heading.content = 'プロフィールの削除' %]
<div id="content">

[% loc("Are you sure you want to delete [_1]?", loc("this profile")) %]

[% form %]
</div>
[% END %]
