[% WRAPPER wrapper.tt title = 'プロフィール検索' %]
<div id="content">
[% form %]
<ul class="clearfix">
[% FOR p IN profiles %]
<li><a href="[% c.uri_for(p.id) %]">[% p.name %]</a></li>
[% END %]
</li>
</div>
[% END %]
