[% WRAPPER wrapper.tt 
    page.title = profile.name,
    page.heading.enabled = 0 %]
[% INCLUDE 'profile/menu.tt' %]
<div id="content">
<p>[% profile.bio | html | html_line_break %]</p>
</div>
[% END %]
